In [1]:
if True:
    print("if statement code block")
elif True:
    print("elif code block executed")
else:
    print("else code block executed")

if statement code block

In [2]:
if False:
    print("if statement code block")
elif True:
    print("elif code block executed")
else:
    print("else code block executed")

elif code block executed

In [3]:
if False:
    print("if statement code block")
elif False:
    print("elif1 code block executed")
elif True:
    print("elif2 code block executed")
elif True:
    print("elif3 code block executed")
else:
    print("else code block executed")

elif2 code block executed

In [4]:
if False:
    print("if statement code block")
elif False:
    print("elif1 code block executed")
elif True:
    print("elif2 code block executed")
elif True:
    print("elif3 code block executed")
else:
    print("else code block executed")

print("back to previous level indentation")

elif2 code block executed
back to previous level indentation

In [5]:
result = "if was True" if True else "if was false"
result

'if was True'

In [6]:
result = "if was True" if False else "if was false"
result

'if was false'

In [7]:
"if was True" if True else "if was false"

'if was True'

In [8]:
"if was True" if False else "if was false"

'if was false'

In [9]:
colnames = """
id
first-name
last-name
order-number
subtotal
tax
total
""".strip()

In [11]:
colnames.replace('-','_') if '-' in colnames else colnames

'id\nfirst_name\nlast_name\norder_number\nsubtotal\ntax\ntotal'

In [12]:
colnames = colnames.replace('-','_') if '-' in colnames else colnames
print(colnames)

id
first_name
last_name
order_number
subtotal
tax
total

In [13]:
colnames = """
id
first-name
last-name
order-number
subtotal
tax
total
""".strip()

In [14]:
colnames_list = colnames.split()
colnames_list

['id', 'first-name', 'last-name', 'order-number', 'subtotal', 'tax', 'total']

In [15]:
len(colnames_list)

7

In [16]:
colname = colnames_list[0]
if '-' in colname:
    colname = colname.replace('-','_')
print(colname)

id

In [17]:
colname = colnames_list[1]
if '-' in colname:
    colname = colname.replace('-','_')
print(colname)

first_name

In [18]:
colname = colnames_list[2]
if '-' in colname:
    colname = colname.replace('-','_')
print(colname)

last_name

In [19]:
userinput = " "
while userinput != 'q':
    userinput = input("enter a string ('q' to quit)")
    print("You entered",userinput)

enter a string ('q' to quit)Denis
You entered Denis
enter a string ('q' to quit)DV
You entered DV
enter a string ('q' to quit)q
You entered q

In [22]:
userinput = " "
while True:
    userinput = input("enter a string ('q' to quit)")
    if userinput == 'q':
        break
    print("You entered",userinput)

enter a string ('q' to quit)Denis
You entered Denis
enter a string ('q' to quit)q

In [23]:
userinput = " "
while True:
    userinput = input("enter a string ('q' to quit)")
    if userinput == '':
        print("You did not enter an input")
        continue
    if userinput == 'q':
        break
    print("You entered",userinput)

enter a string ('q' to quit)Denis
You entered Denis
enter a string ('q' to quit)
You did not enter an input
enter a string ('q' to quit)q

In [24]:
for letter in "abcde":
    print(letter)

a
b
c
d
e

In [28]:
for number in [1,2,3,4,5]:
    print(number)

1
2
3
4
5

In [29]:
for number in [0,1,2,3,4]:
    print(number)

0
1
2
3
4

In [31]:
for number in range(5):
    print(number)

0
1
2
3
4

In [32]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [33]:
for number in range(1,6):
    print(number)

1
2
3
4
5

In [34]:
for number in range(1,6,2):
    print(number)

1
3
5

In [36]:
letters = 'abcde'
for i in range(len(letters)):
    letter = letters[i]
    print(letter)

a
b
c
d
e

In [37]:
for letter in letters:
    print(letter)

a
b
c
d
e

In [40]:
for i,letter in enumerate(letters):
    print(f"letter at index ({i}) is {letter}")

letter at index (0) is a
letter at index (1) is b
letter at index (2) is c
letter at index (3) is d
letter at index (4) is e

In [41]:
i,letter = 0,'a'
print(f"letter at index ({i}) is {letter}")

letter at index (0) is a

In [42]:
for letter in letters[2:]:
    print(letter)

c
d
e

In [43]:
for letter in letters[-3:]:
    print(letter)

c
d
e

with a true loop (WHILE loop)

In [2]:
letters = 'abcde'



i = 0
while i < len(letters):
    letter = letters[i]
    print(letter)
    i+=1

a
b
c
d
e

but...Python FOR is an iteration, not a true loop

In [4]:
letters = 'abcde'
for letter in letters:
    print(letter)

a
b
c
d
e

### Exercise/Example

In [7]:
colnames = """
id
first-name
last-name
order-number
subtotal
tax
total
""".strip()

for colname in colnames.split():
    print(colname.replace('-','_'))

id
first_name
last_name
order_number
subtotal
tax
total

Lab with CSV-like data, but now with FOR loops

In [22]:
# from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
90001,57110,26.6,28468,28642,12971,4.4
90002,51223,25.5,24876,26347,11731,4.36
90003,66266,26.3,32631,33635,15642,4.22
""".strip()

In [28]:
new_data = []
for row in data.split('\n'):
    new_data.append(row.split(','))
new_data

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [16]:
new_data[0]

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

In [17]:
new_data[1:]

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

### Building up a list

In [19]:
some_numbers = []
for i in range(20,1,-4):
    some_numbers.append(i)
some_numbers

[20, 16, 12, 8, 4]

In [31]:
mylist = [1,2,3,'a','b','c',True,[1,2,3], print]
mylist

[1, 2, 3, 'a', 'b', 'c', True, [1, 2, 3], <function print>]

In [32]:
mylist.append(input)

In [33]:
mylist

[1,
 2,
 3,
 'a',
 'b',
 'c',
 True,
 [1, 2, 3],
 <function print>,
 <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fcc017770d0>>]

In [34]:
mylist[0]

1

In [35]:
mylist[-1]

In [36]:
mylist[-2:-1]

In [37]:
mylist[-2:]

[<function print>,
 <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fcc017770d0>>]

In [38]:
type(mylist[0])

int

In [39]:
type(mylist[-2:])

list

In [40]:
type(mylist[-2:-1])

list

In [46]:
mylist[-2::-1]

[<function print>, [1, 2, 3], True, 'c', 'b', 'a', 3, 2, 1]

In [47]:
mylist[::-1]

[<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fcc017770d0>>,
 <function print>,
 [1, 2, 3],
 True,
 'c',
 'b',
 'a',
 3,
 2,
 1]

In [48]:
mylist

[1,
 2,
 3,
 'a',
 'b',
 'c',
 True,
 [1, 2, 3],
 <function print>,
 <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7fcc017770d0>>]

In [50]:
mylist.pop()

In [51]:
mylist

[1, 2, 3, 'a', 'b', 'c', True, [1, 2, 3], <function print>]

In [52]:
mylist.pop(-1)

In [53]:
mylist

[1, 2, 3, 'a', 'b', 'c', True, [1, 2, 3]]

In [54]:
mylist.pop(0)

1

In [55]:
mylist

[2, 3, 'a', 'b', 'c', True, [1, 2, 3]]

In [57]:
mylist = [1,2,9,8]
mylist.sort()

In [58]:
mylist

[1, 2, 8, 9]

In [60]:
mylist = [1,2,3,'a','b','c']
mylist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [61]:
mylist = ['a','b','c']
mylist.sort()

In [62]:
mylist

['a', 'b', 'c']

In [63]:
len(mylist)

3

In [65]:
range(5)

range(0, 5)

In [66]:
print(range(5))

range(0, 5)

In [69]:
mylist = []
for i in range(5):
    mylist.append(i)
mylist

[0, 1, 2, 3, 4]

In [70]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [71]:
mylist = [i for i in range(5)]
mylist

[0, 1, 2, 3, 4]

In [72]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [73]:
print("here are some squares:")
for k in [i**2 for i in range(5)]:
    print(k)

here are some squares:
0
1
4
9
16

In [75]:
mylist = []
for i in range(5):
    if i%2==0:
        mylist.append(i**2)
mylist

[0, 4, 16]

In [74]:
[i**2 for i in range(5) if i%2==0]

[0, 4, 16]

In [76]:
numbers = [1,2,3,4]
squares = [x**2 for x in numbers]

In [78]:
zip(numbers,squares)

In [79]:
list(zip(numbers,squares))

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [83]:
for num,sq in zip(numbers,squares):
    print(f'the square of {num} is {sq}')

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16

## Try Except

In [88]:
for i in range(-2,2):
    print(i,end='\t')
    if i:
        print(1/i)
    else:
        print("can't divide by zero")

-2	-0.5
-1	-1.0
0	can't divide by zero
1	1.0

In [93]:
some_input_data = list(range(-2,2))

for i in some_input_data:
    print(i,end='\t')
    if i:
        print(1/i)
    else:
        print("can't divide by zero")

-2	-0.5
-1	-1.0
0	can't divide by zero
1	1.0

In [100]:
some_input_data = list('a','b','c')

for i in some_input_data:
    print(i,end='\t')
    if i:
        print(1/i)
    else:
        print("can't divide by zero")

print("rest of program...note the interpreter DID  crash.")

TypeError: list expected at most 1 arguments, got 3

In [105]:
some_input_data = ['a','b','c']

try:
    for i in some_input_data:
        print(i,end='\t')
        if i:
            print(1/i)
        else:
            print("can't divide by zero")
except:
    print("*** got a bad value, quitting **")

print("rest of program...note the interpreter did not crash.")

a	*** got a bad value, quitting **
rest of program...note the interpreter did not crash.

In [103]:
some_input_data = ['a','b','c']

try:
    for i in some_input_data:
        print(i,end='\t')
        if i:
            print(1/i)
        else:
            print("can't divide by zero")
except Exception as e:
    print("*** got a bad value, quitting **")
    print('\n')
    print("ERROR WAS:",e)

print("rest of program...note the interpreter did not crash.")

a	*** got a bad value, quitting **


ERROR WAS: unsupported operand type(s) for /: 'int' and 'str'
rest of program...note the interpreter did not crash.

In [108]:
some_input_data = [1,2,3]#['a','b','c']

try:
    for i in some_input_data:
        print(i,end='\t')
        if i:
            print(1/i)
        else:
            print("can't divide by zero")
except Exception as e:
    print("*** got a bad value, quitting **")
    print('\n')
    print("ERROR WAS:",e)
finally:
    print("Clean up, close file, close DB connection, etc")

print()
print("rest of program...note the interpreter did not crash.")

1	1.0
2	0.5
3	0.3333333333333333
Clean up, close file, close DB connection, etc

rest of program...note the interpreter did not crash.

In [ ]:
with open("somefile.txt") as fp:
    #some code here
    pass

# equivalent to:

try:
    fp = open("somefile.txt")
    #some code here
    pass
except:
    raise Exception("my more detailed error message")
finally:
    fp.close()

In [109]:
assert True

In [111]:
assert False

AssertionError:

## Additional Exercise

convert the previous lab with csv data into columnar storage (i.e., list of columns instead of list of rows)

In [112]:
# from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
90001,57110,26.6,28468,28642,12971,4.4
90002,51223,25.5,24876,26347,11731,4.36
90003,66266,26.3,32631,33635,15642,4.22
""".strip()

In [113]:
row_based_data = [row.split(',') for row in data.split('\n')]

In [114]:
row_based_data

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [135]:
len(row_based_data[0])

7

In [148]:
column_based_data = [[] for i in range(len(row_based_data[0]))]
column_based_data

[[], [], [], [], [], [], []]

In [171]:
column_based_data = [[] for i in range(len(row_based_data[0]))]

for row in row_based_data:
    for col_number,cell_data in enumerate(row):
        column_based_data[col_number].append(cell_data)
    
    
column_based_data

[['Zip Code', '90001', '90002', '90003'],
 ['Total Population', '57110', '51223', '66266'],
 ['Median Age', '26.6', '25.5', '26.3'],
 ['Total Males', '28468', '24876', '32631'],
 ['Total Females', '28642', '26347', '33635'],
 ['Total Households', '12971', '11731', '15642'],
 ['Average Household Size', '4.4', '4.36', '4.22']]

### Another solution

In [164]:
list(zip(
[1,2,3,4],
['a','b','c','d']))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [143]:
list(zip(
[1,2,3,4],
['a','b','c','d'],
[11,22,33,44]))

[(1, 'a', 11), (2, 'b', 22), (3, 'c', 33), (4, 'd', 44)]

In [140]:
list(zip(row_based_data[0],
row_based_data[1],
row_based_data[2],
row_based_data[3]))

[('Zip Code', '90001', '90002', '90003'),
 ('Total Population', '57110', '51223', '66266'),
 ('Median Age', '26.6', '25.5', '26.3'),
 ('Total Males', '28468', '24876', '32631'),
 ('Total Females', '28642', '26347', '33635'),
 ('Total Households', '12971', '11731', '15642'),
 ('Average Household Size', '4.4', '4.36', '4.22')]

convert to lists on inside (not tuples)

In [161]:
[list(row) for row in zip(
row_based_data[0],
row_based_data[1],
row_based_data[2],
row_based_data[3]
)]

[['Zip Code', '90001', '90002', '90003'],
 ['Total Population', '57110', '51223', '66266'],
 ['Median Age', '26.6', '25.5', '26.3'],
 ['Total Males', '28468', '24876', '32631'],
 ['Total Females', '28642', '26347', '33635'],
 ['Total Households', '12971', '11731', '15642'],
 ['Average Household Size', '4.4', '4.36', '4.22']]

[('Zip Code', '90001', '90002', '90003'),
 ('Total Population', '57110', '51223', '66266'),
 ('Median Age', '26.6', '25.5', '26.3'),
 ('Total Males', '28468', '24876', '32631'),
 ('Total Females', '28642', '26347', '33635'),
 ('Total Households', '12971', '11731', '15642'),
 ('Average Household Size', '4.4', '4.36', '4.22')]

In [147]:
row_based_data

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

In [172]:
mylist = ['a','b','c']

In [173]:
mylist[1]

'b'

In [174]:
mydict ={
    'a':1,
    'b':2,
    'c':3
}
mydict

{'a': 1, 'b': 2, 'c': 3}

In [175]:
mydict['a']

1

In [176]:
mydict['a'] = 12

In [177]:
mydict

{'a': 12, 'b': 2, 'c': 3}

In [178]:
mydict.keys()

dict_keys(['a', 'b', 'c'])

In [179]:
mydict.values()

dict_values([12, 2, 3])

In [180]:
mydict.items()

dict_items([('a', 12), ('b', 2), ('c', 3)])

In [181]:
for key in mydict.keys():
    print(key)

a
b
c

In [182]:
for key,val in mydict.items():
    print(key,"has value:",val)

a has value: 12
b has value: 2
c has value: 3

In [183]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [184]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [185]:
dict(zip(
    list('abcde'),
    list(range(1,6))
)
)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [186]:
dict(zip(
    'abcde',range(1,6)
)
)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [187]:
set([1,1,1,2,3,4,4,5])

{1, 2, 3, 4, 5}

In [188]:
list(set([1,1,1,2,3,4,4,5]))

[1, 2, 3, 4, 5]

In [189]:
2 in set([1,1,1,2,3,4,4,5])

True

In [190]:
'a' in set([1,1,1,2,3,4,4,5])

False

In [191]:
'-' in 'first-name'

True

In [192]:
'-' in 'first_name'

False

In [197]:
mytuple = (1,2,3)

In [198]:
mytuple

(1, 2, 3)

In [199]:
mytuple = 1,2,3

In [200]:
mytuple

(1, 2, 3)

In [201]:
x,y,z = mytuple

In [202]:
x

1

In [203]:
y

2

In [204]:
z

3

In [205]:
x,y,z = 1,2,3

In [206]:
x

1

In [207]:
y

2

In [208]:
z

3

In [209]:
test = 3,

In [210]:
3 in test

True