In [15]:
import pandas as pd

In [23]:
# from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data_as_string = """
Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
90001,57110,26.6,28468,28642,12971,4.4
90002,51223,25.5,24876,26347,11731,4.36
90003,66266,26.3,32631,33635,15642,4.22
""".strip()

In [24]:
data = [row.split(',') for row in data_as_string.split('\n')]

df = pd.DataFrame(data[1:],columns=data[0])
df

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,57110,26.6,28468,28642,12971,4.4
1,90002,51223,25.5,24876,26347,11731,4.36
2,90003,66266,26.3,32631,33635,15642,4.22

In [34]:
columns = [row.split(',') for row in data_as_string.split('\n')][0]

df = pd.DataFrame([row.split(',') for row in data_as_string.split('\n')][1:],columns=columns)
df

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,57110,26.6,28468,28642,12971,4.4
1,90002,51223,25.5,24876,26347,11731,4.36
2,90003,66266,26.3,32631,33635,15642,4.22

In [28]:
df.values

array([[9.0001e+04, 5.7110e+04, 2.6600e+01, 2.8468e+04, 2.8642e+04,
        1.2971e+04, 4.4000e+00],
       [9.0002e+04, 5.1223e+04, 2.5500e+01, 2.4876e+04, 2.6347e+04,
        1.1731e+04, 4.3600e+00],
       [9.0003e+04, 6.6266e+04, 2.6300e+01, 3.2631e+04, 3.3635e+04,
        1.5642e+04, 4.2200e+00]])

In [35]:
type(df.values)

numpy.ndarray

In [29]:
df.dtypes

Zip Code                    int64
Total Population            int64
Median Age                float64
Total Males                 int64
Total Females               int64
Total Households            int64
Average Household Size    float64
dtype: object

### Using Pandas to Cheat

In [37]:
from io import StringIO
data_as_IO = StringIO(data_as_string)

df = pd.read_csv(data_as_IO)
df

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,57110,26.6,28468,28642,12971,4.40
1,90002,51223,25.5,24876,26347,11731,4.36
2,90003,66266,26.3,32631,33635,15642,4.22

### Or, as a csv file

In [17]:
with open("data.csv",'w') as fp:
    fp.write(data_as_string)

In [18]:
pd.read_csv('data.csv')

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,90001,57110,26.6,28468,28642,12971,4.40
1,90002,51223,25.5,24876,26347,11731,4.36
2,90003,66266,26.3,32631,33635,15642,4.22